<div id="about" class="panel panel-default" ng-controller="AboutCtrl">
    <div id="about-intro" class="panel-heading">
        <h3 class="panel-title">{{aboutMe.title}}</h3>
    </div>
    <!-- <img src="img/sidney.jpeg" alt="Photograph of Sidney Casagrande" class="profile-photo"> -->
    <div id="about-content" class="panel-body">
        <p>{{aboutMe.text}}</p>
        <p>
            Feel free to follow me on
            <a href="http://twitter.com/sidcasagrande">Twitter @sidcasagrande</a>
            or
            <a href="http://au.linkedin.com/in/sidneycasagrande">LinkedIn</a>.
        </p>
    </div>
</div>