<div id="portfolio">
    <div id="portfolio-intro" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">List of project experience</h3>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            </div>
        </div>
    </div>
    <div id="portfolio-list" class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
             ng-controller="PortfolioCtrl">
            <div class="panel panel-default" ng-repeat="portfolioItem in portfolioList">
                <div class="panel-heading" role="tab" ng-attr-id="heading{{portfolioItem.id}}">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           ng-href="#collapse{{portfolioItem.id}}"
                           ng-attr-aria-expanded="{{$index===0}}"
                           ng-attr-aria-controls="collapse{{portfolioItem.id}}"
                           ng-class="{collapsed:$index!==0}">
                            {{portfolioItem.title}}
                        </a>
                    </h4>
                </div>
                <div ng-attr-id="collapse{{portfolioItem.id}}" class="panel-collapse collapse" role="tabpanel"
                     ng-attr-aria-labelledby="heading{{portfolioItem.id}}" ng-class={in:$index===0}>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <a ng-href="{{portfolioItem.imgLink}}" target="_blank">
                                <img ng-src="{{portfolioItem.imgSrc}}" class="img-thumbnail img-rounded"
                                     ng-alt="{{portfolioItem.imgAlt}}"/>
                            </a>
                        </div>
                        <div class="col-md-8 panel panel-default">
                            <div class="panel-body">{{portfolioItem.content}}</div>
                            <dl class="dl-horizontal" ng-repeat="skill in portfolioItem.skills">
                                <dt>{{skill.title}} <span class="badge">{{skill.list.length}}</span></dt>
                                <dd ng-repeat="item in skill.list">{{item}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>