<!Doctype html>
<html lang="en" ng-app="profile">
<head>
    <title>Lorem Ipsum: Public Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="resources/js/dist/angular-profile-public-deps.js"></script>
    <script src="resources/js/dist/angular-profile-public.js"></script>
    <link rel="stylesheet" href="resources/styles/dist/angular-profile-public.css">
</head>
<body ng-controller="MainCtrl as main" ng-init="tab=0">
    <header>
        <div class="col-md-1 col-sm-2 col-xs-5 page-header img">
            <img class="img-circle img-responsive" src="resources/imgs/kafka.jpg" alt="Lorem Ipsum"/>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-7 page-header title">
            <h3 class="col-md-5 col-sm-6 col-xs-12">Lorium Ipsumia</h3>
            <h3 class="col-md-7 col-sm-6 col-xs-12"><small>Fake language<br/>Software Testing</small></h3>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 page-header navigation">
            <ul class="nav nav-tabs nav-justified col-md-12 col-sm-12 col-xs-12">
                <li class="animate-if" ng-class="{ active:isSelected($index)}" role="presentation" ng-repeat="tab in tabs">
                    <a href="#" ng-click="selectTab($index)">{{tab.item}}</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="header-resolver">&nbsp;</div>
    <div ng-repeat="tab in tabs">
        <div class="animate-if col-md-12" ng-if="isSelected($index)">
            <div class="col-md-12" ng-include="tab.templateUrl"></div>
        </div>
    </div>
</body>
</html>
