<div id="home" class="panel panel-default">
    <div id="home-intro" class="panel-heading">
        <h3 class="panel-title">Welcome to Lorem Ipsum's profile!</h3>
    </div>
    <div id="home-about" class="panel-body">
        <p>This website has been built using some of the latest frontend technologies.</p>
        <p>As a Single Page app, this site uses AngularJS to add component to the site when needed for a fast and modern experience.</p>
        <p>The end goal is to improve this site on the fly, so please be not surprised if this site looks completely different next time you visit.</p>
    </div>
    <div id="home-content" class="panel-body">
        <p>Please visit my Portfolio section to view some of the projects and clients I have worked with, including a list of experiences.</p>
        <p>You may contact me by filling out the contact form in the Contact section or follow some of my social network accounts.</p>
    </div>
</div>