html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  font-family: Impact, Charcoal, sans-serif;
  @media screen and (min-width: 992px) {
    min-height: 95px;
  }
  h3 {
    margin-top: 0;
    padding-top: 20px;
  }
}

/*
 * Custom page header styles
 */
.page-header {
  margin: 0;
  background-color: turquoise;
  border-bottom: none;
  @media screen and (min-width: 992px) {
    min-height: 95px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 75px;
  }

  h3 {
    color: #23527c;
    small {
      color: #337ab7;
    }
  }

  .nav {
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 0;
    }
  }

  img {
    height: 95px;
    padding: 15px 8px;
    margin: -5px 23px;
  }

  .nav-tabs.nav-justified > li > a,
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:focus,
  .nav-tabs.nav-justified > .active > a:hover {
    border-bottom: none;
  }
}

.header-resolver {
  @media screen and (max-width: 768px) {
    background: turquoise;
  }
}

/*
 * Portfolio: Accordion;
 */
#accordion {
  a {
    color: #337ab7;
    font-weight: bold;
  }
}

/*
 * Socila media
 */
#social-media {
  a {
    width: 100%;
    margin: 5px 0;
  }
}

/*
 * Animations
 */
.animate-if.ng-leave, .animate-if.ng-enter {
  position: absolute;
  left: 0;
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}