<div id="social-media" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Follow me on</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="social in socialMediaAccs">
            <a target="_blank" ng-href="{{social.account}}" class="btn" ng-class="'btn-' + social.id">
                <i class="fa" ng-class="'fa-' + social.id"> | </i>
                {{social.name}}
            </a>
        </div>
    </div>
</div>