<div id="contact-form" class="panel panel-default">
    <div id="contact-header" class="panel-heading">
        <h3 class="panel-title">Contact Me</h3>
    </div>
    <ul class="list-group" ng-controller="ContactFormCtrl as contact">
        <li class="list-group-item text-center"><strong>{{content.text}}</strong></li>
        <li class="list-group-item">
            <form name="contactForm" class="form-horizontal" ng-submit="contactForm.$valid && sendMail()">
                <div class="form-group">
                    <label for="contactName" class="col-md-3 control-label">Full Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contactName" placeholder="Full Name" ng-model="contact.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactEmail" class="col-md-3 control-label">Email</label>

                    <div class="col-md-9">
                        <input type="email" class="form-control" id="contactEmail" placeholder="Email" ng-model="contact.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactMsg" class="col-md-3 control-label">Message</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="contactMsg" placeholder="Message" ng-model="contact.text" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-2">
                        <button type="submit" class="btn btn-primary" aria-label="Left Align">
                            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><i class="fa">&nbsp;|</i> Send
                        </button>
                    </div>
                    <div class="col-md-4">
                        <i>Note: </i>{{content.supplementaryText}}
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>